*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Monserrat', sans-serif;
}

body{
    margin: 0;
    background-color: #202731;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
}

a{
    color: white;
}

.white{
    background-color: white;
}

.header-container{
    /*Specs for the background of header*/
    width: 100%;
    height: 256px;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 

    /*Container Details*/
    display: flex;
    align-content: center;
    justify-content: center;
    justify-content: space-between;

}

ul{
    display: flex;
    padding: 0;
    margin: 0;
    gap: 48px;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    
}

.right-links{
    display: flex;
}

.information{
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    width: 100%;
}

img{
    height: 80%;
    width: 100%;
}
.large-text{
    font-size: 24px;
}

.section-2{
    width: 100%;
    display: flex;
    padding: 5px;
    color: white;
    flex-direction: row;
    align-items: center;
    flex-wrap: no-wrap;
    justify-content: space-around;
    align-content: space-around;

}

.h1-center{
   padding: 5px;
   
}

.section-3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}

.info{
   width: 300px;
   height: 220px;
}

.text{
    font-weight: bold;
    text-decoration: underline;
}

.image-size{
    width: 100%;
    height: 100%;
}

.border-rad{
    border-radius: 25px;
}

span{
    font-size: 40px;
    text-decoration: underline;
    color: rgb(255, 48, 8);
}

div.middle{
    font-size: 24px;
    flex-basis: 50%;
}

.center{
    text-align: center;
}

.login{
    text-align: center;
}

.loginbox{
    border: #202731;
    border-style: dashed;
}

iframe{
    margin: 10px;
}
